c-projects/project-euler/*
!c-projects/project-euler/*.c
c-projects/huff-tree/main
c-projects/num2chinese/num2chinese
c-projects/httpd/tags
unix/dlhello/libfoo.so
unix/dlhello/main
unix/ipc-unix-domain-sock
unix/syslog-test
**/tags
*/**/TAGS
**/.ropeproject
clojure/target
