c-projects/project-euler/Problem18
c-projects/project-euler/a.out
c-projects/huff-tree/main
c-projects/num2chinese/num2chinese
c-projects/httpd/tags
unix/dlhello/libfoo.so
unix/dlhello/main
unix/ipc-unix-domain-sock
unix/syslog-test
**/tags
**/.ropeproject
