c-projects/project-euler/Problem18
c-projects/project-euler/a.out
c-projects/huff-tree/main
c-projects/num2chinese/num2chinese
c-projects/httpd/tags
playground/unix/dlhello/libfoo.so
playground/unix/dlhello/main
playground/unix/ipc-unix-domain-sock
playground/unix/syslog-test
*/**/tags
*/**/.ropeproject
