html, body {
	font:normal 12px verdana;
	margin:0;
	padding:0;
	border:0 none;
	overflow:hidden;
	height:100%;
}

p {
	margin:5px;
}

.settings {
	background-image:url(../images/fam/folder_wrench.png);
}

.nav {
	background-image:url(../images/fam/folder_go.png);
}

.title {
	font-size: 120%;
	font-weight: bold;
	color: #FF9933;
	padding: 10px 20px 10px 20px;
}