/* shortcuts */
#win-mail-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/grid48x48.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/grid48x48.png', sizingMethod='scale');
}
#win-addressbook-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/im48x48.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/im48x48.png', sizingMethod='scale');
}
#win-files-shortcut img {
    width:48px;
    height:48px;
    background-image: url(../images/im48x48.png);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/im48x48.png', sizingMethod='scale');
}