.thumb {
	float: left;
	margin: .5em 0;
	margin-right: 10px;
	border: 1px solid #999;
	padding: 0px;
}

.thumb a {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	line-height: 100px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.thumb a img {
	float: left;
	position: absolute;
	top: 0px;
	left: 0px;
}

.thumb a:hover {
	overflow: visible;
	z-index: 1000;
	border: none;
}

.thumb a:hover img {
	border: 1px solid #999;
	background: #fff;
	padding: 2px;
}