<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd" >
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/test</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="jerry/c2c/domain/User.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Message.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Category.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/ItemComment.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Item.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Bid.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Shop.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/ShopComment.hbm.xml"/>
		<mapping resource="jerry/c2c/domain/Trade.hbm.xml"/>
	</session-factory>
</hibernate-configuration>
